/**
 * click effect
 */
a:not(.zu-main-feed-fresh-button):focus {
    outline: none!important;
    animation: a-focus .5s;
    -webkit-animation: a-focus .5s;
}

@keyframes a-focus {
    from { background: rgba(255,255,0,0.8) }
    to { background: transparent }
}
@-webkit-keyframes a-focus {
    from { background: rgba(255,255,0,0.8) }
    to { background: transparent }
}

/**
 * header menu modify
 */
.zu-top-nav {
    float: right!important;
    margin-right: 130px;
}

/**
 * main page and feed item
 */
.zu-main-content-inner {
    margin-right: 375px!important;
}
.zu-main-feed-con,.feed-item {
    border: none!important;
}
.feed-item:not(.first-combine) {
    margin-bottom: 20px;
}
.feed-item .avatar, .time {
    display: none!important;
}
.feed-main,.feed-item.combine {
    margin-left: 0!important;
}
.entry-body {
    margin-left: 32px;
}
.entry-body .zm-item-rich-text {
    margin: 15px 0;
}
.zu-autohide {
    visibility: visible!important;
    opacity: 0;
    transition: opacity .1s linear;
}
html.no-touch .zm-profile-answer-page .zm-item:hover .zu-autohide,
html.no-touch .feed-item:hover .zu-autohide, .zm-item-expanded .zu-autohide,
.navigable-focusin .zu-autohide, .focusin .zu-autohide,
html.no-touch .zm-item-answer:hover .zu-autohide,
html.no-touch .zm-item:hover .zu-autohide {
    opacity: 1;
}

/**
 * single question page
 */
.zm-item-answer,.zh-answers-title {
    border:none!important;
    margin-bottom: 20px;
}
.zm-item-answer .zm-item-rich-text {
    padding: 15px 30px 15px 0;
}
.zh-question-followers-sidebar > .list .zm-list-avatar {
    border-radius: 0!important;
}

/**
 * personal page
 */
.zu-main-content-inner div, .zm-profile-side-columns .link,
.zm-profile-side-topics .link, .zm-profile-side-columns .avatar,
.zm-profile-side-topics .avatar {
    border-radius: 0!important;
}
.zm-item-link-avatar,.link {
    margin: 0!important;
}
.skilled-topics .item, .expert-item-moving {
    padding: 10px!important;
}
.skilled-topics .item .avatar, .expert-item-moving .avatar {
    border: none!important;
    padding: 0!important;
}

/**
 * zhuanlan
 */ 
.item-with-title-img header {
    padding: 248px 0 0!important;
}
.hentry header .vote-num {
    z-index: 2;
}
.entry-title,.entry-meta {
    background-color: rgba(0,0,0,0.7);
    background-clip: border-box;
    ;
}
.entry-title {
    padding: 22px 22px 0 22px!important;
    color: #fff!important;
}
.entry-meta {
    margin-top:0!important;
    padding: 8px 22px 22px!important;
}

.entry-title, .entry-meta, .entry-meta a {
    color: #fff!important;
}
