@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("zhihu.com") {
    
    /* ==== header ==== */
    
    .zu-top {
        /*
         *   background: #763568!important;
         */
    }
    
    #zh-top-inner {
    width: 95%!important;
    }
    
    .zu-top-nav {
        float: right!important;
        margin-right: 140px!important;
    }
    
    /* ---- feed ---- */
    
    .zu-main-content-inner {
        margin-right: 376px!important;
    }
    
    .zu-main-feed-fresh-button {
        margin: 0 0 24px!important;
    }
    
    .feed-item {
        padding: 0!important;
    }
    
    .feed-item + .feed-item {
        margin-top: 24px;
    }
    
    .feed-item .avatar,
    .feed-item .time {
        display: none!important;
    }
    
    .feed-item .ignore {
        margin-top: -25px!important;
    }
    
    .feed-main {
        margin-left: 0!important;
    }
    
    .zh-general-list h2 {
        margin: 0!important;
    }
    
    .zh-general-list .entry-body {
        margin:6px 0 0 48px!important;
    }
    
    .feed-separator {
        margin: 20px 0 43px!important;
    }
    
    /* ---- question ---- */
    
    .zm-item-answer + .zm-item-answer {
        margin-top: 24px;
    }
    
    /* ---- people ---- */
    
    .zu-main-content-inner > div {
        border-radius: 0!important;
    }
    
    .skilled-topics .item {
        padding: 12px !important;
    }
    
    .skilled-topics .item, .expert-item-moving {
        width: 251px!important;
    }
    
    .zm-profile-section-item {
        border: none!important
    }
    
    #zh-profile-answer-list h2 {
    margin-right: 20px!important;
    }
    
    /* ---- general ---- */
    
    a {
        outline: none!important;
    }
    
    .zm-item-link-avatar,
    .zh-question-followers-sidebar > .list .zm-item-img-avatar,
    .zm-profile-side-columns .link,
    .zm-profile-side-topics .link,
    .zm-profile-side-columns .avatar,
    .zm-profile-side-topics .avatar {
        margin: 0!important;
        border-radius: 0!important;
    }
    
    .popover-content {
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
    }
    
    /* remove border */
    
    .zu-main-feed-con,
    .feed-item,
    .zm-item-answer,
    .zh-question-answer-wrapper,
    .zh-answers-title {
        border: none!important;
    }
    
    
}