@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("zhihu.com") {

    a:not(.zu-main-feed-fresh-button):focus {
        outline: none!important;
        animation: a-focus .5s;
        -webkit-animation: a-focus .5s;
    }
    @keyframes a-focus {
        from { background: rgba(255,255,0,0.8) }
        to { background: transparent }
    }
    @-webkit-keyframes a-focus {
        from { background: rgba(255,255,0,0.8) }
        to { background: transparent }
    }

    .zu-top-nav {
        float: right!important;
        margin-right: 130px;
    }

    .zu-main-content-inner { margin-right: 375px!important }
    .zu-main-feed-fresh-button { margin-bottom: 20px!important }
    .zu-main-feed-con
    ,.feed-item
    ,.zm-item
    ,.zm-profile-section-item
    ,.zm-item-answer {
        border: none!important
    }
    .feed-item
    ,.zm-item
    ,.zm-item-answer {
        padding: 0!important
    }
    .feed-item + .feed-item
    ,#zh-list-answer-wrap .zm-item + .zm-item
    ,#zh-profile-activity-page-list .zm-item + .zm-item
    ,.zh-general-list .zm-item + .zm-item
    ,.zm-item-answer + .zm-item-answer {
        margin-top: 35px!important;
    }
    .combine + .combine { margin-top: 10px!important }
    .feed-separator { margin: 20px 0 43px!important }
    .zh-question-answer-wrapper {
        margin: 40px 0;
        border: 0!important;
    }
    .zu-question-collap-title { border: none!important; }

    .feed-item .avatar
    , .time {
        display: none!important
    }
    .feed-item .source
    ,.feed-item .content h2
    ,.feed-item .zm-item-meta {
        margin-left: -48px!important
    }
    .feed-item .content h2 { margin-right: 0!important }
    .feed-item .ignore { top: 12px!important }

    #zh-question-answer-wrap { margin-top: 20px }

    .zu-main-content-inner div
    ,.avatar
    ,.zm-item-img-avatar {
        border-radius: 0!important
    }

    .zu-small-avatar-list > .zm-item-link-avatar
    ,.zm-profile-side-columns .link
    , .zm-profile-side-topics .link {
        margin: 0!important
    }

    /*
    body
    ,.zm-item-vote-info a
    ,.zm-item-vote-info span
    ,h3 {
        font-size: 14px!important
    }
    h2 { font-size: 16px!important }
    */

}